* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}

header {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.wrapper {
    width: 100%;
    align-items: stretch
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
}

.list-group {
    width: 15rem;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #main-doc {
        min-width: 0;
        width: 100%;
    }
}

#main-doc {
    min-width: 100vw;
}